.container {
    width: 996px;
    margin: 0 auto;
}

#cats-buttons button {
    width: 75px;
}

#cats-container {
    width: 100%;
}

#cats-container div:first-child {
    margin: 0 auto;
    width: 80%;
    display: inline-block;
}

#cats-container img {
    width: 50%;
}

.cat-img {
    width: 100%;
}

#admin-form input {
    display: block;
}

.hide {
    display: none;
}