.container {
    width: 996px;
}

#cats-buttons button {
    width: 75px;
}

#cats-container {
    width: 100%;
    float:left;
    /*display: flex;*/
}

#cats-container div {
    margin: 0 auto;
    width: 80%;
}

#cats-container img {
    width: 100%;
}

#admin-form input {
    display: block;
}

.cat-img {
    width: 100%;
}

#cats-container div.hide {
    display: none;
}